<div class="container">
    <div class="footer__inner">
        <div class="row row-cols-lg-1 gy-lg-2">
            <!-- Col 1 -->
            <div class="col">
                <div class="col__content">
                    <!-- Logo -->
                    <a href="#" class="logo footer__logo">
                        <img
                            src="./assets/icons/logo.svg"
                            alt="grocerymart"
                            class="logo--img"
                        />
                        <h1 class="logo--brand">grocerymart</h1>
                    </a>

                    <p class="col__content--desc">
                        "Premium coffee blends, meticulously sourced and expertly roasted for exquisite indulgence."
                    </p>
                    <span class="col__content--reminder"
                        >Receive product news and updates.</span
                    >
                    <div class="col__action">
                        <input type="text" name="" id="" class="col__input" placeholder="Email Address"/>
                        <button class="btn footer__btn btn--primary">SEND</button>
                    </div>

                    <div class="col__link">
                        <a href="#!">
                            <img src="./assets/icons/amazon-pay.svg" alt="" class="col__link--icon col__amazon">
                        </a>
                        <a href="#!">
                            <img src="./assets/icons/discover.svg" alt="" class="col__link--icon col__discover">
                        </a>
                        <a href="#!">
                            <img src="./assets/icons/mastercard.svg" alt="" class="col__link--icon col__mastercard">
                        </a>
                        <a href="#!">
                            <img src="./assets/icons/visa.svg" alt="" class="col__link--icon col__visa">
                        </a>
                       <a href="#!">
                            <img src="./assets/icons/pay-pal.svg" alt="" class="col__link--icon col__paypal">
                        </a>
                    </div>
                    <div class="col__title">
                        <img src="../assets/icons/lock.svg" alt="" class="col__lock--icon">
                        <span class="col__desc">Secure Online Payment</span>
                    </div>

                </div>
            </div>

            <!-- Col 2 -->
            <div class="col">
                <div class="col__content">
                    <h3 class="col__content__heading">CATEGORIES</h3>
                    <ul class="col__content__list">
                        <li class="col__content__item">
                            <a href="" class="col__content__link">All Departments</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Home Improvement</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Gift Cards</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Personal Care</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Baby Caring</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Patio & Garden</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Col 3 -->
            <div class="col">
                    <div class="col__content">
                        <h3 class="col__content__heading">SUPPORT</h3>
                        <ul class="col__content__list">
                            <li class="col__content__item">
                                <a href="" class="col__content__link">Order Status</a>
                            </li>
                            <li class="col__content__item">
                                <a href="" class="col__content__link">Store Locator</a>
                            </li>
                            <li class="col__content__item">
                                <a href="" class="col__content__link">Other stores</a>
                            </li>
                        </ul>
                    </div>
            </div>

            <!-- Col 4 -->
            <div class="col">
                <div class="col__content">
                    <h3 class="col__content__heading">CONTACT</h3>
                    <div class="col__contact">
                        <img src="./assets/icons/location.svg" alt="" class="col__contact--icon">
                        <a href="#!">
                            <span class="col__contact--desc">Address: 242, TayNinh, VietNam.</span>
                        </a>
                    </div>

                    <div class="col__contact">
                        <img src="./assets/icons/phone.svg" alt="" class="col__contact--icon">
                        <a href="#!">
                            <span class="col__contact--desc">Phone: +84 865854952</span>
                        </a>
                    </div>

                    <div class="col__contact">
                        <img src="./assets/icons/email.svg" alt="" class="col__contact--icon">
                        <a href="#!">
                            <span class="col__contact--desc">Email: ntuanloc24@gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__copyright">
            <span class="footer__copyright--desc">"Copyright © JohanLiebert 2023. All rights reserved."</span>
            <div class="footer__social-links">
               <a href="#!">
                <img src="./assets/icons/facebook.svg" alt="" class="footer__social-links--icon footer__fb">
            </a>
               <a href="#!">
                    <img src="./assets/icons/google.svg" alt="" class="footer__social-links--icon footer__google">
                </a>
                <a href="#!">
                    <img src="./assets/icons/instagram.svg" alt="" class="footer__social-links--icon footer__insta">
                </a>
                <a href="#!">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__social-links--icon footer__youtube">
                </a>
                <a href="#!">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__social-links--icon footer__twitter">
                </a>
            </div>
        </div>
    </div>
</div>
