<div class="container">
    <div class="footer__inner">
        <div class="row">
            <!-- Col 1 -->
            <div class="col">
                <div class="col__content">
                    <!-- Logo -->
                    <a href="#" class="logo">
                        <img
                            src="./assets/icons/logo.svg"
                            alt="grocerymart"
                            class="logo--img"
                        />
                        <h1 class="logo--brand">grocerymart</h1>
                    </a>

                    <p class="col__content--desc">
                        "Indulge in premium coffee blends, meticulously sourced
                        and expertly roasted for a delightful and satisfying
                        experience."
                    </p>
                    <span class="col__content--reminder"
                        >Receive product news and updates.</span
                    >
                    <div class="col__action">
                        <input type="text" name="" id="" class="col__input" placeholder="Email Address"/>
                        <button class="btn footer__btn">SEND</button>
                    </div>

                    <div class="col__link">
                        <img src="./assets/icons/amazon-pay.svg" alt="" class="col__link--icon">
                        <img src="./assets/icons/discover.svg" alt="" class="col__link--icon">
                        <img src="./assets/icons/mastercard.svg" alt="" class="col__link--icon">
                        <img src="./assets/icons/visa.svg" alt="" class="col__link--icon">
                        <img src="./assets/icons/pay-pal.svg" alt="" class="col__link--icon">
                    </div>
                    <div class="col__title">
                        <img src="../assets/icons/lock.svg" alt="" class="col__lock--icon">
                        <span class="col__desc">Secure Online Payment</span>
                    </div>

                </div>
            </div>

            <!-- Col 2 -->
            <div class="col">
                <div class="col__content">
                    <h3 class="col__content__heading">CATEGORIES</h3>
                    <ul class="col__content__list">
                        <li class="col__content__item">
                            <a href="" class="col__content__link">All Departments</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Home Improvement</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Gift Cards</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Personal Care</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Baby Caring</a>
                        </li>
                        <li class="col__content__item">
                            <a href="" class="col__content__link">Patio & Garden</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Col 3 -->
            <div class="col">
                <div class="col">
                    <div class="col__content">
                        <h3 class="col__content__heading">SUPPORT</h3>
                        <ul class="col__content__list">
                            <li class="col__content__item">
                                <a href="" class="col__content__link">Order Status</a>
                            </li>
                            <li class="col__content__item">
                                <a href="" class="col__content__link">Store Locator</a>
                            </li>
                            <li class="col__content__item">
                                <a href="" class="col__content__link">Other stores</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Col 4 -->
            <div class="col">
                <div class="col__content">
                    <h3 class="col__content__heading">CONTACT</h3>
                    <div class="contact">
                        <img src="" alt="" class="contact__icon">
                        <span class="contact__desc">Address: 242, TayNinh, VietNam. Pin-Code: 80000</span>
                    </div>

                    <div class="phone">
                        <img src="" alt="" class="phone__icon">
                        <span class="phone__desc"></span>
                    </div>

                    <div class="contact">
                        <img src="" alt="" class="contact__icon">
                        <span class="contact__desc"></span>
                    </div>

                    <div class="contact">
                        <img src="" alt="" class="contact__icon">
                        <span class="contact__desc"></span>
                    </div>
                </div>
            </div>

            <!-- Col 5 -->
            <div class="col"></div>
        </div>
    </div>
</div>
