<div class="container">
    <div class="top-bar">
        <!-- Drawer -->
        <div class="drawer">
            <img src="./assets/icons/drawer.svg" alt="" class="icon drawer-icon">
        </div>



        <!-- Logo -->
        <a href="#" class="logo">
            <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo--img">
            <h1 class="logo--brand">grocerymart</h1>
        </a>
    
        <!-- Navbar -->
        <div class="navbar">
           <ul class="navbar__list">
            <li class="navbar__item">
                <a href="" class="navbar__link">
                    Departments
                    <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__icon">
                </a>
            </li>
            <li class="navbar__item">
                <a href="" class="navbar__link">
                    Grocery
                    <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__icon">
                </a>
            </li>
            <li class="navbar__item">
                <a href="" class="navbar__link">
                    Beauty
                    <img src="./assets/icons/arrow-down.svg" alt="" class="icon navbar__icon">
                </a>
            </li>
           </ul>
        </div>
    
        <!-- Top act -->
        <div class="top-act">
            <div class="top-act__group top-act__group--search">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="icon top-act__icon">
                </button>
            </div>
    
            <div class="top-act__group">
                <button class="top-act__btn top-act__btn--favortie">
                    <img src="./assets/icons/heart.svg" alt="" class="icon top-act__icon">
                    <span class="top-act__title">02</span>
                </button>

                <div class="top-act__seperate"></div>
    
                <button class="top-act__btn">
                    <img src="./assets/icons/buy.svg" alt="" class="icon top-act__icon">
                    <span class="top-act__title">$24.42</span>
                </button>
            </div>

            <div class="top-act__user">
                <img src="./assets/image/avatar2.jpg" alt="" class="top-act__avatar">
            </div>
            
        </div>
    </div>
</div>
