@use "../abstracts";
@use "../layouts";
@use "../theme";


.checkout-page {
    background: var(--checkout-page-bg-color);
}

.checkout__container {
    margin: 30px 0 40px 0;
    border-radius: 20px;

}

.cart-info {
    padding: 30px;
    border-radius: 20px;
    background: var(--checkout-cart-info-bg-color);
    box-shadow: 0px 20px 60px 10px var(--cart-info-shadow);


    @include abstracts.screen(md) {
        padding: 16px;
    }

    &__seperate {
        height: 1px;
        background: var(--cart-separate-bg);
        margin: 30px 0;

        &--small {
            margin: 14px 0;
        }
    }

    &__bottom {
        
        &-left {
            @extend %itemFlexCenter;
            color: var(--cart-item-text-color);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            height: 100%;
            align-items: flex-end;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;

        &:last-child {
            margin-bottom: -14px;
        }

        &__label {
            color: var(--cart-item-text-color);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.6rem;
                line-height: 150%;
            }

            &--large {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 145.455%;
            }

            &--bold {
                font-weight: 700;
            }

            &--normal {
                font-weight: 400;
            }
        }
    }

    &__total {
        padding: 30px;
        border-radius: 20px;
        background: var(--checkout-cart-info-total-bg);
        box-shadow: 0px 20px 60px 10px var(--cart-info-total-shadow);


        @include abstracts.screen(md) {
            padding: 16px;
        }


        &--bottom {
            display: flex;
            gap: 20px;
            margin-top: 30px;
        }

        &--btn {
            margin-top: 30px;
            width: 100%;
            height: 68px;

            color: #1A162E;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;

            @include abstracts.screen(md) {
                font-size: 1.8rem;
            }
        }
    }

    &__gift-wrap {
        padding: 10px;
        border-radius: 14px;
        box-shadow: 0px 20px 60px 10px var(--cart-info-gift-wrap-shadow);
        background: var(--cart-info-gift-wrap-bg);
    }

    &__title {
        color: var(--cart-item-text-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height:  144.444%;
    }

    &__message {
        color: var(--cart-item-text-color);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 142.857%;
        margin-top: 10px;
    }

}


.cart-item {
    display: flex;
    gap: 30px;

    &__thumb {
        width: 175px;
        height: 175px;

        @include abstracts.screen(xxl) {
            width: 150px;
            height: 150px;
        }

        @include abstracts.screen(lg) {
            width: 100px;
            height: 100px;
        }

        @include abstracts.screen(md) {
            width: 80px;
            height: 80px;
        }

        @include abstracts.screen(sm) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-self: flex-start;

        @include abstracts.screen(md) {
            flex-direction: column;
        }

        &-left {
            flex: 1;
            max-width: 374px;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__heading,
    &__price {
        color: var(--cart-item-text-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include abstracts.screen(md) {
            font-size: 1.6rem;
            line-height: 142.857%;
        }
    }

    &__price {
        color: #9E9DA8;
        margin: 16px 0;
    }

    &__status {
        color: #67B044;
    }

    &__control {
        @extend %itemFlexCenter;
        gap: 20px;
        min-height: 44px;

        
        @include abstracts.screen(md) {
            gap: 30px;
        }

        &--vertical {
            flex-direction: column;
            align-items: start;
        }
    }

    &__input {
        @extend %itemFlexCenter;
        gap: 10px;

        color: var(--cart-item-text-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        
        padding: 0 20px;
        border-radius: 10px;
        border: 1px solid #D2D1D6;  
        height: 44px;
    }

    &__icon {
        filter: var(--cart-item-icon-color);
    }

    &__total-price {
        display: block;
        color: var(--cart-item-text-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        text-align: right;

        @include abstracts.screen(md) {
            margin: 16px 0;
            text-align: left
        }
    }

    &__btn-wrap {
        @extend %itemFlexCenter;
        gap: 10px;

        color: #9E9DA8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__icon {
        filter: brightness(0) saturate(100%) invert(71%) sepia(9%) saturate(265%) hue-rotate(206deg) brightness(88%) contrast(87%);
    }
}