html {
    --header-bg-color: #eee;

    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(13%)
        saturate(2112%) hue-rotate(210deg) brightness(97%) contrast(100%);

    --top-act__group-bg-color: #fff;
    --top-act-text-color: #1a162e;
    --top-act__btn-shadow: rgba(237, 237, 246, 0.2);
}
