html {
    --header-bg-color: #eee;
    --body-bg-color: #f5f5f6;
    --footer-bg-color: #eee;

    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(13%)
        saturate(2112%) hue-rotate(210deg) brightness(97%) contrast(100%);

    // Top act
    --top-act__group-bg-color: #fff;
    --top-act-text-color: #1a162e;
    --top-act__btn-shadow: rgba(237, 237, 246, 0.2);


    // Dropdown
    --dropdown__inner-bg: #fff;
    --dropdown__shadow: rgba(200, 200, 200, 0.40);
    --dropdown-arrow: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(135deg) brightness(116%) contrast(100%);

    //Top-menu
    --top-menu__border-color: #D2D1D6;

    // Navbar responsive
    --navbar-background-color-responsive: #fff;
    --navbar-text-responsive: #1A162E;
    --navbar-shadow-responsive: rgba(200, 200, 200, 0.40);
    --navbar__icon-responsive: filter: brightness(0) saturate(100%) invert(7%) sepia(41%) saturate(1283%) hue-rotate(215deg) brightness(98%) contrast(95%);

    //Home
    --home__heading-text-color: #1A162E;
    --home__item-bg-color: #EEE;
    --home__item-thumb-bg-color: #fff;
    --home__item-name-color: #000000;
    --home__item-desc-color: #1A162E;
    --home__item-bg-responsive: #fff;


    //Buttons
    --filter-btn-color: #1A162E;
    --filter-btn-bg-color: #fff;
    --filter-icon-color: brightness(0) saturate(100%) invert(8%) sepia(7%) saturate(6039%) hue-rotate(213deg) brightness(89%) contrast(95%);
    --love-btn-bg-color: #fff;
    --love-btn-shadow: rgba(124, 124, 124, 0.20); 

    //Product items
    --product-items-bg-color: #fff;
    --product-items-shadow: rgba(237, 237, 246, 0.20);
    --product-items-name-color: #1A162E;
    --product-love-icon-color: brightness(0) saturate(100%) invert(9%) sepia(23%) saturate(1446%) hue-rotate(210deg) brightness(91%) contrast(98%);

    //Filter form
    --filter-bg-color: #fff; 
    --filter-shadow: rgba(200, 200, 200, 0.40);
    --filter-label-color: #1A162E;
    --filter-input-border-color: #D2D1D6;
    --filter-input-bg-color: #FFF;
    --filter-tag-bg-color: #F8F8FB;
    --filter-form-icon-color: brightness(0) saturate(100%) invert(8%) sepia(13%) saturate(3760%) hue-rotate(215deg) brightness(91%) contrast(95%);
    --filter-arrow-down-icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(105%) contrast(101%);

    //Footer
    --footer-text-color: #1A162E;
    --footer-input-border-color: #D2D1D6;
    --footer-icon-color: brightness(0) saturate(100%) invert(0%) sepia(79%) saturate(7413%) hue-rotate(182deg) brightness(81%) contrast(95%);


    //Author
    --author-text-color: #1A162E;
    --author-intro-bg-color: #fafafd;
    --author-content-bg-color: #FFF;
    --author-input-bg-color: #fff;
    --author-btn-google-border-color: #D2D1D6;
    --author-btn-google-color: #1A162E;
    --author-btn-google-img-color: brightness(0) saturate(100%) invert(9%) sepia(28%) saturate(1211%) hue-rotate(210deg) brightness(92%) contrast(97%);
    --author-checkbox-checked: #fff;
    --author-checkbox-checked-bg: blue;
    
    //Reset password
    --reset-password-success: #10ff104d;

    //Product page
    --product-page-bg-color: #fff;
    --product-page-text-color: #1A162E;
    --product-page-tag: #EDEDF6;

    //Breadcrumb
    --breadcrumb-bg-color: #F6F6F6;
    --breadcrumb-shadow: rgba(237, 237, 246, 0.20);
    --breadcrumb-link-current-color: #1A162E;

}