@use "../abstracts";

.form {
    &__group.invalid &__text-wrapper{
        border-color: #ff000069;
    }

    &__group.invalid &__message {
        color: #ff0000b8;
    }

    &__group {
        
        &-img {
            
            margin-left: 10px;
        }

        &--inline {
            display: flex;
            align-items: center;
            margin-top: -24px;
       
            @include abstracts.screen(sm)  {
                margin-top: -14px;
            }
        }
    }

    &__text {
        &-wrapper {
            height: 50px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            border: 1.5px solid #D2D1D6;
            overflow: hidden;
            padding: 0 12px;
        }

        &-input {
            flex: 1;
            height: 100%;
            color: var( --author-text-color);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            &::placeholder {
                color: #D2D1D6;
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
       
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9E9DA8;
        }

        &-input {
            width: 18.5px;
            height: 18.5px;
            border-radius: 1.5px;
        }

        &-label {
            color: #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            margin-left: 29px;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            background: var(--author-checkbox-checked-bg);
            border: 1.5px solid #B9BABE;
        }

        &::after {
            width: 10px;
            height: 5px;
            border-left: 2px solid var(--author-checkbox-checked);
            border-bottom: 2px solid var(--author-checkbox-checked);
            rotate: -45deg;
            top: 7px;
            left: 5px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__message {
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 4px 0 0;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}