@use "../abstracts";
@use "../base";

.form {
    &__group.invalid &__text-wrapper {
        border-color: #ff000069;
    }

    &__group.invalid &__message {
        color: #ff0000b8;
    }

    &__group {
        &-img {
            margin-left: 10px;
        }

        &--inline {
            display: flex;
            align-items: center;
            margin-top: -24px;

            @include abstracts.screen(sm) {
                margin-top: -14px;
            }
        }
    }

    &__text {
        &-wrapper {
            height: 50px;
            display: flex;
            align-items: center;
            border-radius: 10px;
            border: 1.5px solid #d2d1d6;
            overflow: hidden;
            padding: 0 12px;
        }

        &-input {
            flex: 1;
            height: 100%;
            color: var(--author-text-color);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            &::placeholder {
                color: #d2d1d6;
            }
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 20px;

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9e9da8;
        }

        &-input {
            width: 18.5px;
            height: 18.5px;
            border-radius: 1.5px;
        }

        &-label {
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;
            margin-left: 29px;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            background: var(--author-checkbox-checked-bg);
            border: 1.5px solid #b9babe;
        }

        &::after {
            width: 10px;
            height: 5px;
            border-left: 2px solid var(--author-checkbox-checked);
            border-bottom: 2px solid var(--author-checkbox-checked);
            rotate: -45deg;
            top: 7px;
            left: 5px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__message {
        display: inline-block;
        width: 100%;
        text-align: left;
        padding: 4px 0 0;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    &__label {
        color: var(--filter-label-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145%;

        &--small {
            display: block;
            color: var(--filter-label-color);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142%;
            margin-bottom: 10px;
        }
    }

    &__select-wrap {
        @extend %itemFlexCenter;
        justify-content: space-between;
        padding: 0 14px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
        margin: 15px 0;
    }

    &__select {
        min-width: var(--filter-select-width, 80px);
        @extend %itemFlexCenter;
        justify-content: space-between;
        cursor: pointer;

        color: var(--filter-label-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 142%;

        @include abstracts.screen(xl) {
            flex-grow: 1;
        }

        &--seperate {
            width: 1px;
            height: 35px;
            background: #d2d1d6;
            margin: 0 14px;
        }

        &-arrow {
            filter: var(--filter-form-icon-color);
        }
    }

    &__tags {
        @extend %itemFlexCenter;
        gap: 20px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__tag {
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--form-tag-bg-color);

        color: var(--secondary-color-secondary-2, #9e9da8);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142%;
    }
}
