@use "../theme";
@use "../abstracts";


%itemFlexCenter {
    display: flex;
    align-items: center;
}

.drawer {
    @include abstracts.screen(lg) {
        margin-right: 39px;
    }
}

.header {
    padding: 30px 0;
    background: var(--header-bg-color);

    @include abstracts.screen(sm) {
        padding: 16px 0;
    }
}

.top-bar {
    @extend %itemFlexCenter;
    position: relative;
    z-index: 1;

    &__logo {
        @include abstracts.screen(lg) {
            gap: 10px;

            &-brand {
                font-size: 2rem !important;
            }

            &-img {
                width: 28px;
            }
        }
    
        @include abstracts.screen(md) {
            margin: 0 auto;
        }

        &-brand {
            @include abstracts.screen(sm) {
                font-size: 1.8rem !important;
            }
        }

        &-img {
            @include abstracts.screen(sm) {
                width: 24px;
            }
        }
    }
}

.navbar {
    margin-left: 129px;

    @include abstracts.screen(xl) {
        margin-left: 40px;
    }

    @include abstracts.screen(lg) {
        position: fixed;
        inset: 0 50% 0 0;

        background: var(--navbar-background-color-responsive);
        margin-left: 0;
        padding: 20px 0;
        z-index: 9;
        border-radius: 0px 20px 20px 0px;

        translate: -100%;
        transition: translate 0.5s ease;

        &.show {
            translate: 0;
            box-shadow: 0px 40px 90px 20px var(--navbar-shadow-responsive);
        }

        &.show ~ &__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    @include abstracts.screen(md) {
        inset: 0 40% 0 0;
    }

    @include abstracts.screen(sm) {
        inset: 0 20% 0 0;
        padding: 20px;
    }

    &__close-btn {
        @include abstracts.screen(lg) {
            filter: var(--navbar__icon-responsive);
            padding: 10px 40px;
        }

        @include abstracts.screen(sm) {
            padding: 0 0 10px 0;
        }
    }

    &__act {
        padding: 0 40px;
        margin: 10px 0;
        align-items: center;

        @include abstracts.screen(sm) {
            padding: 0;
        }

        &:nth-child(3) {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        &--title {
            margin: 0 auto 0 16px;
        }

        &--title,
        &--quantity {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
            color: var(--navbar-text-responsive);

            @include abstracts.screen(sm) {
                font-size: 1.5rem;
                line-height: 147%;
            }
        }

        &--icon {
            filter: var(--navbar__icon-responsive);
        }
    }

    &__list {
        @extend %itemFlexCenter;

        @include abstracts.screen(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }

        @include abstracts.screen(md) {
            height: calc(100% - 140px);
        }
    }

    &__overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;

        @include abstracts.screen(lg) {
            position: fixed;
            inset: 0 0 0 50%;
            background: rgba($color: #000000, $alpha: 0.2);
            z-index: 8;
        }

        @include abstracts.screen(sm) {
            inset: 0 0 0 80%;
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.screen(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }

            &--active:hover .dropdown {
                display: block;
            }
        }
    }

    &__link {
        @extend %itemFlexCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        color: var(--top-act-text-color);

        @include abstracts.screen(lg) {
            justify-content: space-between;
            padding: 0 40px;
            gap: 0;
            color: var(--navbar-text-responsive);
        }

        @include abstracts.screen(sm) {
            height: 44px;
            padding: 0;
        }
    }

    &__icon {
        margin-top: 3px;
        filter: var(--icon-color);

        @include abstracts.screen(lg) {
            rotate: -90deg;
            transition: rotate 0.3s ease;
        }
    }

    &__item--active &__icon {
        rotate: 0deg;
    }
}

.top-act {
    @extend %itemFlexCenter;
    margin-left: auto;
    gap: 20px;

    @include abstracts.screen(md) {
        margin-left: 0;
    }

    &__group {
        @extend %itemFlexCenter;
        gap: 20px;

        min-width: 50px;
        padding: 10px 20px;
        border-radius: 8px;
        background: var(--top-act__group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act__btn-shadow);
    }

    &__group--search {
        @extend %itemFlexCenter;
        justify-content: center;
        padding: 13px;
    }

    &__btn {
        @extend %itemFlexCenter;
        gap: 10px;

        &-wrap {
            position: relative;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color: var(--top-act-text-color);
    }

    &__seperate {
        width: 1px;
        height: 30px;
        background: #ededf6;
    }

    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    }

    &--sign-in {
        @include abstracts.screen(md) {
            display: none !important;
        }
    }

    &--sign-up {
        @include abstracts.screen(md) {
           height: 40px !important;
           padding: 0 8px !important;
           font-size: 1.5rem !important;
        }
    }
}

.act-dropdown {
    position: absolute;
    top: 60px;
    right: -40px;
    width: min(500px, 100vw);
    transition: opacity .5s ease, visibility .5s ease;

    &.hide {
        opacity: 0;
        visibility: hidden;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        position: relative;
        padding: 30px;
        border-radius: 20px;
        background: var(--header-dropdown-bg);
        box-shadow: 0px 40px 90px 20px var(--header-dropdown-shadow);
    }
    
    &__arrow {
        position: absolute;
        top: -19px;
        right: 50px;
        height: 30px;
        filter: var(--filter-arrow-down-icon);
    }

    &__top {
        @extend %itemFlexCenter;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__title,
    &__all {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 145.455%;
    }

    &__title {
        color: var(--header-dropdown-title-color);
    }

    &__all {
        color: #0071DC;
        font-weight: 400;
    }

    &__list {
        flex-wrap: nowrap !important;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;

        text-align: start;

        border-top: 1px solid var(--act-dropdown-bottom-border);
        border-bottom:  1px solid var(--act-dropdown-bottom-border);

        margin: 20px 0;
        padding: 20px 0;
    }

    &__row {
        @extend %itemFlexCenter;
        justify-content: space-between; 
    }

    &__label,
    &__value {
        color: var(--act-dropdown-row-color);
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 145.455%;

        &--bold {
            font-weight: 500;
        }
    }

    &__seperate {
        margin: 20px 0;
        height: 1px;
        background: var(--act-dropdown-bottom-border);
    }

    &__checkout {
        display: flex;
        justify-content: flex-end;

        &--btn {
            min-width: 278px;
        }
    }


}

.cart-preview-item {
    display: flex;
    flex-direction: column;
    text-align: start;
    border: 1.5px solid #ebebeb;
    padding: 10px;
    border-radius: 10px;

    &__thumb-wrap {
        position: relative;
        padding-top: 100%; 
    }

    &__thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__title {
        color: var(--header-cart-preview-color);
        font-size: 1.4rem;
        font-weight: 400;
        line-height:  142.857%;
        margin: 14px 0 6px 0;
    }

    &__price {
        color: var(--header-cart-preview-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height:  146.667%;
    }
   
}
