@use "../theme";
@use "../abstracts";

%itemFlexCenter {
    display: flex;
    align-items: center;
}

.drawer {
    @include abstracts.breakpoint(lg) {
        margin-right: 39px;
    }
}

.header {
    padding: 30px 0;
    background: var(--header-bg-color);

    @include abstracts.breakpoint(sm) {
        padding: 16px 0;
    }  
}

.top-bar {
    @extend %itemFlexCenter;
    position: relative;
    z-index: 1;
}

.navbar {
    margin-left: 129px;

    @include abstracts.breakpoint(xl) {
        margin-left: 40px;
    }

    @include abstracts.breakpoint(lg) {
        position: fixed;
        inset: 0 50% 0 0;

        background: var(--navbar-background-color-responsive);
        margin-left: 0;
        padding: 20px 0;
        z-index: 9;
        border-radius: 0px 20px 20px 0px;

        translate: -100%;
        transition: translate .5s ease;

        &.show {
            translate: 0;
            box-shadow: 0px 40px 90px 20px var(--navbar-shadow-responsive);
        }

        &.show ~ &__overlay {
            opacity: 1;
            visibility: visible;
        }
    }

    @include abstracts.breakpoint(md) {
        inset: 0 40% 0 0;
    }

    @include abstracts.breakpoint(sm) {
        inset: 0 20% 0 0;
        padding: 20px;
    }

    &__close-btn {
        @include abstracts.breakpoint(lg) {
            filter: var(--navbar__icon-responsive);
            padding: 10px 40px;
        }

        @include abstracts.breakpoint(sm) {
            padding: 0 0 10px 0;
        }
    }

    &__act {
        padding: 0 40px;
        margin: 10px 0;
        align-items: center;

        @include abstracts.breakpoint(sm) {
            padding: 0;
        }

        &:nth-child(3) {
            margin-top: 20px;
            margin-bottom: 20px;
            
        }

        &--title {
            margin: 0 auto 0 16px;
        }

        &--title,
        &--quantity {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 150%;
            color: var(--navbar-text-responsive);

            @include abstracts.breakpoint(sm) {
                font-size: 1.5rem;
                line-height: 147%;
            }
        }

        &--icon {
            filter: var(--navbar__icon-responsive);
        }
    }

    &__list {
        @extend %itemFlexCenter;

        @include abstracts.breakpoint(lg) {
            flex-direction: column;
            align-items: flex-start;

            overflow-y: auto;
            overscroll-behavior: contain;
            height: calc(100% - 40px);
        }

        @include abstracts.breakpoint(md) {
            height: calc(100% - 140px);
        }
    }

    &__overlay {
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s ease, visibility .5s ease;

        @include abstracts.breakpoint(lg) {
            position: fixed;
            inset: 0 0 0 50%;
            background: rgba($color: #000000, $alpha: 0.2);
            z-index: 8;
        }

        @include abstracts.breakpoint(sm) {
            inset: 0 0 0 80%;
        }
    }

    &__item {
        &:hover .dropdown {
            display: block;
        }

        @include abstracts.breakpoint(lg) {
            width: 100%;
            &:hover .dropdown {
                display: none;
            }

            &--active:hover .dropdown {
                display: block;
            }
        }
    }

    &__link {
        @extend %itemFlexCenter;
        gap: 6px;
        height: 50px;
        padding: 0 15px;

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        color: var(--top-act-text-color);

        @include abstracts.breakpoint(lg) {
            justify-content: space-between;
            padding: 0 40px;
            gap: 0;
            color: var(--navbar-text-responsive);
        }

        @include abstracts.breakpoint(sm) {
            height: 44px;
            padding: 0;
        }

    }
    
    &__icon {
        margin-top: 3px;
        filter: var(--icon-color);

        @include abstracts.breakpoint(lg) {
            rotate: -90deg;
            transition: rotate 0.3s ease;
        } 
    }

    &__item--active &__icon {
        rotate: 0deg;
    }
}

.top-act {
    @extend %itemFlexCenter;
    margin-left: auto;
    gap: 20px;  

    @include abstracts.breakpoint(md) {
       margin-left: 0;
    }  

    &__group {
        @extend %itemFlexCenter;
        gap: 20px;

        min-width: 50px;
        padding: 10px 20px;
        border-radius: 8px;
        background: var(--top-act__group-bg-color);
        box-shadow: 0px 20px 60px 10px var(--top-act__btn-shadow);
    }

    &__group--search {
        @extend %itemFlexCenter;
        justify-content: center;
        padding: 13px;
    }

    &__btn {
        @extend %itemFlexCenter;
        gap: 10px;

    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
        color:  var(--top-act-text-color);
    }

    &__seperate {
        width: 1px;
        height: 30px;
        background: #EDEDF6;
    }


    &__avatar {
        display: block;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    }
}
